/* Basis stijlen */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

header {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.search-bar input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.user-actions a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
}

/* Container voor productinformatie */
.container {
    display: flex;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-image img {
    width: 300px;
    height: auto;
}

.product-info {
    padding: 0 20px;
    flex-grow: 1;
}

h1 {
    font-size: 24px;
    color: #333;
}

.price {
    font-size: 20px;
    color: #666;
}

.selectors label {
    display: block;
    margin: 10px 0 5px;
}

.size-selector .sizes {
    margin: 10px 0;
}

select, input[type="text"] {
    padding: 5px;
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
}

.add-to-cart {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}

.add-to-cart:hover {
    background-color: #0056b3;
}

/* Footer stijlen */
footer {
    background-color: #002244;
    color: white;
    padding: 40px 0;
    font-size: 14px;
    line-height: 1.6;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    border-bottom: 1px solid #444;
}

.footer-column h4 {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-social img {
    height: 30px;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #444;
}

.footer-bottom p {
    margin: 0;
}

/* Maatselectieknoppen stijlen */
.size-btn {
    margin: 5px;
    background-color: #fff;
    border: 2px solid #ccc;
    padding: 8px 16px;
    border-radius: 50px; /* Geeft de knoppen een afgeronde vorm */
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    font-weight: bold;
    color: #333;
}

.size-btn:hover, .size-btn:focus {
    border-color: #888;
}

.size-btn.selected {
    border-color: #0044cc;
    color: #0044cc;
    box-shadow: 0 4px 8px rgba(0, 68, 204, 0.3); /* Voegt een subtiele schaduw toe rond de geselecteerde knop */
}
